.SliderTitle
{font-size:39px;
 text-transform:uppercase;
  font-family:'HelveticaNeueLTCom-Th', 'Source Sans Pro', sans-serif;
 font-weight: 200;


 
}
.SliderSubTitle
{font-size: 22px; padding-left: 10px; padding-bottom: 10px;

 font-weight: 200; 
  font-family:'HelveticaNeueLTCom-Th', 'Source Sans Pro', sans-serif;


}
.PadSlide
{
    padding: 25px;
    padding-top: 85px;
    text-align: left;
}
.PadSlideHP
{
    padding: 25px;
    text-align: left;
}
.SSContent
{font-size:18px;
 padding-top:5px;
 padding-bottom:10px;

}

/* image replacement */
 .graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next{
    margin:0;
    padding:0;
    display:block;
    overflow:hidden;
    text-indent:-8000px;
}
    /* // image replacement */
			
#container{	
	margin:0 auto;
	position:relative;
	text-align:left;

	}	
  
#slider ul,
#slider2 ul {
		margin:0;
		padding:0;
		}

#slider2{margin-top:1em;
	         }
#slider li, #slider2 li{ 
		/* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/ 
       height:450px;
        color:#000;
       
        width:630px;
        font-size:22px;
        list-style:none;
        text-align:center;
         background:url(../images/BGCurveContainerLineChart.png) repeat 0 0;
 		}

#prevBtn, #nextBtn,
#slider1next, #slider1prev{ 
		display:block;
		width:30px;
		height:77px;
		position:absolute;
		left:-30px;
		top:71px;
		z-index:1000;
		}	
#nextBtn, #slider1next{ 
		left:696px;
		}														
#prevBtn a, #nextBtn a,
#slider1next a, #slider1prev a{  
		display:block;
		position:relative;
		width:30px;
		height:30px;
		background:url(../images/btn_prev.gif) no-repeat 0 0;	
		}	
#nextBtn a, #slider1next a{ 
		background:url(../images/btn_next.gif) no-repeat 0 0;	
		}

	/* numeric controls */	

ol#controls{
		margin:1em 0;
	    float:right;
	
		}
ol#controls li{
		margin:0 10px 0 0; 
		padding:0;
		float:left;
		list-style:none;
		height:10px;
		line-height:10px;
        
		}
ol#controls li:hover{
		background:#f7e96c;
        
		}
ol#controls li a{
		float:left;
		height:20px;
		line-height:10px;
		border:1px solid #ccc;
		border-radius: 5px 5px 5px 5px;
		background:#fff;
		color:#fff;
		padding:3px;
		text-decoration:none;
        width:20px;
		}
ol#controls li.current a{
		background:#f7e96c;
		color:#f7e96c;
		}

ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}
	
