html, body, table, td, th, h1, h2, h3, h4, h5, h6, p, a, span, div
{
	font-family: HelveticaNeueLTCom-Roman, Helvetica, Arial,  sans-serif;
	font-size: 12px;
	margin:0px;
}

body
{
    background:url("images/BGGradient.jpg") repeat-x top left;
}

img
{
	border: none;
}

#Header
{
    background:url("images/CommonHeader.jpg") no-repeat top left;
    height:142px;
    padding: 0px 0px 0 0px;
}
  
#Container
{
	background-color: #ffffff;
	width: 960px;
	overflow:visible;  
	margin: auto;
	padding-bottom:80px;
}

#SnapshotContainer
{
	background-color: #ffffff;
	width: 850px;
	margin: auto;

}

#SnapshotHeader
{
	clear:both;
}

 h1.SnapshotHeader
{
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 5px 0;
}

    
/*************Start Portfolio CSS **************/

.Link {color:#1c85a7;}

.PortfolioNavBG
{
    background-color:#079fd0;
    color:#ffffff;
}

.Welcome
{
    padding:10px;
    font-size:14px;
    color:#58595B;
}
                
.MainContent
{
	background:#ffffff;
	padding:20px;
}

#MainBody
{
	padding:10px;
    background:url("images/BGMainBody.jpg") repeat top left;
}

.BGGradient
{	
	background:url("images/PortfolioBGGradient.jpg") repeat top left;
    padding:10px;
}

.NavCookie
{
	font-size:11px;
	color:#333333;
}


table.TableHistory
{
	background:#ffffff;
	padding:4px;
	font-size: 12px;
	width:100%;
	border:0px;
	border-collapse:collapse;
}

table.TableHistory td
{
   
border:0px;
border-bottom:1px solid #cccccc;
    padding:5px;

}

table.TableHistory th
{border:0px;
	border-bottom:1px solid #cccccc;
padding:5px;
	 background-color:#e0eef7;
	 font-weight:bold;
}


/***************************/
table.MasterTable
{
	background:#ffffff;
	padding:4px;
	font-size: 12px;
	width:100%;
	border:0px;
	border-collapse:collapse;
}

table.MasterTable td
{
   
border:0px;

    padding:5px;

}

table.MasterTable th
{border:0px;
 border-top:0px;
	border-bottom:1px solid #cccccc;
padding:5px;
	 background-color:#e0eef7;
	 font-weight:bold;
}

/***************************/
table.HomeTable
{
	background:#ffffff;
	padding:4px;
	font-size: 12px;
	width:100%;
	border-collapse:collapse;
border:0px;
	
}

table.HomeTable td
{
	border-bottom:1px solid #b9dbed;
	border-left:0px;
	border-top:0px;
	border-right:0px;
    padding-right:5px;
    padding-bottom:10px;
     padding-top:10px;
}

table.HomeTable th
{

	height:24px;
border:0px;
    border-bottom:2px solid #b9dbed;
	font-weight:bold;
	text-align:right;
	padding-bottom:5px;
} 
.HRTableHome
{
    
    }
/************************/

.PortfolioGrid
{
	background:#ffffff;
	padding:4px;
}

.PortGidTT
{
	background:#cccccc;
	font-size:11px;
	font-weight:normal;
	padding:4px;
}

.PortGridRowHR td
{
	background:#e7e7e7;
	font-size:10px;
	border-right:1px solid #e7e7e7;
	padding:3px;
	font-weight:bold;
}

.PortGridRow td
{
	font-size:11px;
	background-color:#ffffff;
	padding:3px;
}
    
.fontlink
{
	color:#1c85a7;
}
       
.Message
{
    color:#00b2ec;
    font-weight:bold;
    font-size:11px;
    padding:10px;
    display:block;
    float:none;
}

.MaskedEditError
{
   color:#00b2ec;
   font-size:11px;
}

.FontBody
{
    color:#333333;
    font-size:11px;
}
        
.HR1
{
	font-size:14px;
	font-weight:bold;
	color:#5f6164;
}
         
.HRPortfolio
{
	background:url("images/BGHRPortfolio.gif") no-repeat bottom left;
	font-size:14px;
	font-weight:bold;
	color:#5f6164;
}
              
.SymbolLookUpLink
{ 
	text-decoration:none;
	float:none;
	list-style:none;
	margin:0;
	font-size:12px;
}

.SymbolLookUpLink a
{
	text-decoration:none;
	color:#333333;
	padding:4px;
}

.SymbolLookUpLink a:hover
{
	background-color:#cccccc;
	color:#333333;
}

.SymbolLookUpLink li
{
	list-style:none;
	float:none;
}

.LoginHR1
{
	padding:10px;
	background-color:#00b2ec;
	color:#ffffff;
	font-size:14px;
	font-weight:bold;
}

.SMFont
{
	font-size:10px;
	margin:0px;
	font-weight:normal;
	border-bottom:1px solid #cccccc;
	background-color:#cccccc;
}
                                
.AutoCompleteCSS
{ 
	background-color:#cccccc;
}

.tbQuickAdd
{
	font-size:11px;
}

.PortfolioColumn
{
	width:78px;
	font-size:11px;
}

.PortfolioFundName
{
	font-size:11px;
	width:200px;
	color:#1c85a7;
	font-weight:normal;
	text-decoration:underline;
	cursor:hand;
}

.PortfolioFundName a
{
	font-size:11px;
	width:200px;
	color:#1c85a7;
	font-weight:normal;
	text-decoration:underline;
	cursor:hand;
}

.Button
{
	background-color:#9cd9ec;
	border-bottom-style:ridge;
	padding:2px;
	margin:10px;
}

.TransactionRecord td
{
	font-size:11px;
}

.TransHR 
{
	font-size:11px;
    font-weight:normal;
}

.EditLink 
{
	color:#000000;
}

.TransactionGrid td
{
	padding:4px;
	border-bottom:1px solid #99ccff;
}

.TransactionGrid
{
	border-bottom:1px solid #99ccff;
}
  .font3
  {
      font-size:12px;
      font-weight:bold;} 
.font4
  {
      font-size:12px;
   
      color:#285784;
      font-weight:bold;} 
 .font5
  {
      font-size:12px;
      font-weight:normal;
      color:#333333;
     } 
.TransactionHR{
    width: 100%; 
    padding: 4px; 
    font-size:16px; 
    font-weight:bold; 
    padding-bottom:10px; 
    color:#285784; 
     }                        
.PortfolioContent
{
	border-left:1px solid #B9DBED;
	border-right:1px solid #B9DBED;
	border-bottom:1px solid #B9DBED;
    padding:10px;
float:left;

}


 .CollapsePanel
{
    height:0px;
    overflow: hidden;
    padding:20px;
    margin:0px;
    border-top:2px solid #e0eef7;
    border-left:0px solid #cccccc;
    border-right:0px solid #cccccc;
    border-bottom:0px solid #cccccc;
    color:#333333;
} 


/*************Start Portfolio Navigation Tabs **************/
.PortfolioListNavigation 
{
	background-image: url(images/BGPortfolioNavigation.gif);
	float:left;
	width:100%;
	font-weight:normal;

}

.PortfolioListNavigation ul 
{	
	list-style:none;
	padding-left:0px;
	margin:0px;
}

.PortfolioListNavigation li 
{
    background-color:#e0eef7;
   
	float:left;
	padding:5px 5px 6px 5px;
	border:1px solid #B9DBED;
	background-repeat: no-repeat;
	background-position: left top;
	font-size:12px;
	margin-right:4px;
}

.PortfolioListNavigation a 
{
	float:none;
	display:block;
	text-decoration:none;
	padding:0px 20px 0px 10px;
	color:#07519a;

	background-repeat: no-repeat;
	background-position: right top;
}
.PortfolioListNavigation > ul a {width:auto;}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
.PortfolioListNavigation a {float:none;}
/* End IE5-Mac hack */

.PortfolioListNavigation a:hover 
{
	color:#07519a;
	font-weight:normal;
	text-decoration:underline;
}

.PortfolioListNavigation li:hover a 
{

}

.PortfolioListNavigation li.selected
{
	background-position:0 -36px;
	font-weight:bold;
	background-color:#ffffff;
	border-bottom:1px solid #ffffff;
}

.PortfolioListNavigation li.selected a{

 background-image: url(images/PortfolioNavRight.gif);
	color:#333333;
	font-weight:bold;
}                       

/*************Start Portfolio Nav **************/


div.PortfolioNavigation 
{background-image: url(images/BG_PortfolioNavigation.gif);
	position: relative;
	float:none;
	width:100%;
	font-weight:normal;
	
	
}

div.PortfolioNavigation ul 
{	
	list-style:none;
	padding-left:0px;
}

div.PortfolioNavigation li 
{
	float:left;
	padding:0px 0px 0px 1px;
	border-bottom:0px;

	background-repeat: no-repeat;
	background-position: left top;
	font-size:13px;
	
}

div.PortfolioNavigation a 
{
	float:none;
	display:block;
	text-decoration:none;
	padding:6px 10px 6px 10px;
	color:#07519a;
	
	background-repeat: no-repeat;
	background-position: right top;
}

div.PortfolioNavigation > ul a {width:auto;}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
div.PortfolioNavigation a {float:none;}
/* End IE5-Mac hack */

div.PortfolioNavigation a:hover 
{
	color:#07519a;
	font-weight:normal;
	text-decoration:underline;
}

div.PortfolioNavigation li:hover a 
{
	padding-bottom:6px;
}

div.PortfolioNavigation li.selected
{
	background-position:0 -36px;
	padding-bottom:0px;
	font-weight:bold;
	background-color:#e0eef7;
	border-left:1px solid #6eb1da;
	border-right:1px solid #6eb1da;
	border-top:1px solid #6eb1da;
	color:#333333;
}

div.PortfolioNavigation li.selected a{
	background-position:100% -36px;
	padding-bottom:7px;
	color:#333333;
	font-weight:bold;
} 


/*************Stop Portfolio Nav **************/

/*************Start Portfolio Button **************/
div.PortfolioButton 
{
	position: relative;
	float:none;
	width:100%;
	font-weight:normal;
    font-size:11px;
}

div.PortfolioButton ul 
{	
	list-style:none;	
}

div.PortfolioButton li 
{
    background-image: url(images/PortfolioButtonLeft.gif);
    background-repeat: no-repeat;
	background-position: left top;
	float:left;
    padding:0px 0px 0px 10px;
}

div.PortfolioButton a 
{
    background-image: url(images/PortfolioButtonLeft.gif);
    background-repeat: no-repeat;
	background-position: right top;
	float:none;
	display:block;
	text-decoration:none;
	padding:4px 10px 7px 4px;
	color:#ffffff;
    font-weight:bold;
}

a.PortfolioButton
{
	background: transparent url('images/PortfolioButtonLeft.gif') no-repeat scroll top right;
    color: #ffffff;
    display: block;
    float: left;
    font: bold 12px arial, sans-serif;
    height: 26px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.PortfolioButton span
{
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}

input.close
{
	padding: 5px;
	border: none;
}

/*************Stop Portfolio Button **************/
    
/************* Portfolio HR **************/  
 div.PortfolioHR
 {
	background: transparent url('images/PortfolioHRBG.gif') repeat bottom left;
    height:45px;
    width:100%;
 }
 .HyperLink
 {font-weight:normal;
     color:#0066cc;
    text-decoration:none;
	font-size:12px;
	}
a.HyperLink:hover
 {
    text-decoration:underline;
	}
a.HyperLink:visted
 {
    text-decoration:none;
     color:#0066cc;
	}
.AddToPortfolioLink
{
	color:#58595B;
	text-align:right;
	width:40px;
	font-size:12px;
	font-weight:normal;
	text-decoration:none;
}
a.AddToPortfolioLink 
{
text-decoration:none;
	font-size:12px;

}
a:hover.AddToPortfolioLink 
{
text-decoration:underline;
	font-size:12px;

}
.SearchColumn
{color:#000000;
	text-align:right;
	width:40px;
	font-size:10px;
	font-weight:normal;
}
.PagerStyle td
  {
  padding:5px;
      font-size:12px;
      }  
   table.PagerStyle
  {
      padding:0px;

      } 
 .PagerStyle a
  {
      border:1px solid #cccccc;
      padding:4px;
      background-color:#ffffff;
  
      }
  .PagerStyle a:hover
  {
      border:1px solid #cccccc;
      padding:4px;
      background-color:#0066cc;
  color:#ffffff;
      }         
.SearchInvestmentStyle
{ 
	border-bottom:4px solid #ced6dd; 
 border-top:4px solid #ced6dd; 
  font-size:10px;
    font-weight:bold;
    color:#000000;
} 

 
.SearchResults
{
	background: transparent url('images/SearchResultBody.gif') repeat top left;
}

tr.TransactionRowOpened
{
	background-color:#ffffea;
}

tr.TransactionRowOpened td.FundName
{
	font-weight: bold;
	font-size: 12px;
}
.TableRowTH
{border-bottom:1px solid #c5deef;
     font-size:12px;
     border-right:0px;
     border-left:0px;
     padding-bottom:4px;
     padding-top:2px;
     text-align:right;
     padding-left:0px;
     padding-right:5px;
     background-color:#e0eef7;
     border-top:0px;
     color:#003366;
     font-weight:normal;
    }
.InvestmentName
{
   
    border-top:0px solid #cccccc;
     font-size:12px;
     width:270px;
     padding-top:4px;
    padding-bottom:4px;
     border-right:0px;
     border-left:0px;
    
    }
.InvestmentName a
{
   text-decoration:none;
    color:#0066cc;
    }
  .InvestmentName a:hover
{
   text-decoration:underline;
    }
   .InvestmentName a:visited
{
   color:#0066cc;
    }
 
  .TableRowTD
{
    
    
    font-size:12px;
    padding-top:4px;
    padding-bottom:4px;
    border-top:0px solid #cccccc;
     border-right:0px;
     border-left:0px;
     color:#333333;
    }
  .TableRowTDTotal
{

    font-size:12px;
 border-top:1px solid #cccccc;
    padding-top:10px;
    
 
    }
    /************************/
    table.TransactionTB
{
    
	padding:0px;
	font-size: 11px;
	width:700px;
	border-collapse:collapse;
	border:0px;
}


table.TransactionTB td
{
	border-right:0px solid #FFFFFF;
	border-left:0px solid #FFFFFF;
	border-bottom:0px solid #cccccc;
	border-top:0px;
	padding-right:10px;
}

table.TransactionTB th
{
    border:0px;
    font-weight:bold;
}
/************************/
table.TransactionTable
{
	background:#ffffff;
	padding:4px;
	font-size: 11px;
	width:100%;
	border-collapse:collapse;
}

table.TransactionTable td
{
	border-right:1px solid #FFFFFF;
	border-left:1px solid #FFFFFF;
	padding-right:10px;
}

table.TransactionTable th
{
	background: transparent url('images/TTTransaction.gif') repeat top right;
	height:24px;
	font-weight:normal;
	padding-left:10px;
	padding-right:10px;
}

.ErrorText 
{
    font-size:10px;}

/*************************/   

.InvestmentRecord
{
	background-color:#e4ebf1;
	padding:0px;
}

.TransactionField
{
	float:left; 
	padding:5px;
	width: 85px;
}

.TransactionField input
{
	width: 60px;
	text-align:right;
}

.TTTransaction
{
	background-color:#ffffea;
	color:#000000;
	font-size:12px;
	font-weight:bold;
	padding:10px;
	width:80px;
}

table.MasterTransactionTable
{  
	width:100%;
	background-color:#ffffff;
	border-collapse:collapse;
	font-weight:bold;
}

table.NewTransactions
{
    border:0px;
}

table.NewTransactions td
{
	border:0px;
}
        
/**************************************/

.StatusMessage
{
    background-color:#ffdddd;
    border:1px solid #990000;
    padding:10px;
    color:#000000;
}

.StatusMessage h1
{
	font-size:14px;
    font-weight:bold;
}

.StatusMessage span
{
	font-size:12px;
    padding-left:30px;
}
    



.MyCalendar .ajax__calendar_container 
{
    border:1px solid #646464;
    background-color:#ffffff;
    color: #000000;
    padding:0px;
    margin:0px;
}

.MyCalendar .ajax__calendar_container td{
    border:0px solid #646464;
    color: #000000;
    padding:1px;
    margin:0px;
    font-weight:normal;
}

.MyCalendar .ajax__calendar_other .ajax__calendar_day,
.MyCalendar .ajax__calendar_other .ajax__calendar_year 
{
    color: black;
}
.MyCalendar .ajax__calendar_hover .ajax__calendar_day,
.MyCalendar .ajax__calendar_hover .ajax__calendar_month,
.MyCalendar .ajax__calendar_hover .ajax__calendar_year 
{
    color: red;
    background-color:#e9f6fb;
}
.MyCalendar .ajax__calendar_active .ajax__calendar_day,
.MyCalendar .ajax__calendar_active .ajax__calendar_month,
.MyCalendar .ajax__calendar_active .ajax__calendar_year 
{
    color: black;
    font-weight:bold;
}


.PriceEntryToggle
{
	padding:right: 50px;
}

.InlineErrorMessage
{
	color:Red;
	font-size:10px;
}

.AllocationView
{
	width: 100%;
}

div.FAQHeader
{
	padding-top:10px;
	padding-bottom:5px;
	font-size:14px;
	font-weight:bold;
}

div.FAQContent
{
	padding-left:50px;
	padding-right:50px;
}

div.FAQContent p, div.FAQContent li
{
	font-size:12px;
}


/*************************Stock Snapshot********************/

.Divider
{
	height:15px;
    border-bottom:1px solid #ccebf5;
}



.StockSnapshot
{
	font-size:11px;
	color:#006699;
	font-weight:bold;
}

.StockSnapshot td.Font1
{
	font-size:19px;
	color:#14B0C1;
	font-weight:normal;
}
.StockSnapshot td.Font2
{
	font-size:15px;
	color:#14B0C1;
	font-weight:normal;
}

/*********************End StockSnapshot********************/
/*********************Start FundSnapshot*********************/
.FundSnapShotMain
{float:none;
    background-color:#ffffff;
   	color:#333333;
	margin:0px;
	font-size:12px;
padding:20px;

    }

.Table1 td{ border-bottom:1px solid #cacce7;}
.SnapShotTT1 
{
    font-size:15px;
  
    }
    .SnapShotRES1 
{
    font-size:16px;
    text-align:right;
    font-weight:bold;
     
    }
.FundSnapShotTT1
{font-size:12px;
 padding-bottom:5px;
 padding-top:5px;
    }
.FundSnapShotRes1
{font-size:12px;
 font-weight:bold;
padding-bottom:5px;
 padding-top:5px;
    }
.FundSnapShotTT2
{font-size:12px;
padding-bottom:6px;
 padding-top:6px;
    }
.FundSnapShotRes2
{font-size:12px;
 font-weight:bold;
padding-bottom:6px;
 padding-top:6px;
 text-align:right;
    }
.InceptionDate
{
    font-size:11px;
    color:#666666;
    font-weight:normal;}
    
.FundSnapShotCategories
{font-size:12px;
 padding-top:12px;
 padding-bottom:10px;
 font-weight:bold;
    }
.FundSnapShotTopTen td
{border-bottom:1px solid #cacce7;
    padding:5px;
    }
 .SnapShotSeperator
{
    border-bottom:1px solid #cacce7;
    margin-bottom:10px;
    padding-top:10px;
    }
 .SnapShotPerHR td
    {background-color:#eceef9;
    font-size:12px;
    font-weight:bold;
    padding-top:4px;
    padding-left:5px;
        }
 .FundSnapShotHR6
{
    background-color:#eceef9;
    font-size:12px;
	text-align:right;
	font-weight:bold;
	padding-top:10px;
	padding-bottom:5px;
	padding-right:5px;
	padding-left:4px;
	border-bottom:1px solid #cacce7;
}

.FundSnapShotHR8{
	font-size:12px;
	text-align:right;
	padding:5px;
	border-bottom:#cacce7 1px solid;
}

    
  .FundSnapShotHR7
{
    background-color:#ffffff;
    font-size:12px;
	text-align:left;
	padding:5px;
	border-bottom:1px solid #cacce7;
}   
.TopTenHRFundName
{background-color:#eceef9;
    font-size:12px;
	text-align:center;
	font-weight:bold;
	padding-top:10px;
	padding-bottom:5px;
	padding-right:5px;
	border-bottom:1px solid #cacce7;
    }
   .TopTenHRFundNameResults
   {
       text-align:left;}
.FundNameResults
{
    text-align:right;}
    
    
    
    
/*********************Start FundSnapshot*********************/
#FundSnapShotGeneralInfo,#FundSnapShotGrowthof10,#FundSnapShotPerformanceInfo,#FundSnapShotFees,#FundSnapShotTopTen,.FundSnapShotAllocations
{ 	padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
	float:none;
    background-color:#ffffff;
    border-bottom:#d5d6ef 2px solid;  
    border-left:#d5d6ef 2px solid; 
    border-RIGHT:#d5d6ef 1px solid;   
 
}
#FundSnapShotTopTen
{ 	padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
	float:none;
    background-color:#ffffff;
    border-bottom:#d5d6ef 2px solid;  
    border-left:#d5d6ef 2px solid; 
    border-RIGHT:#d5d6ef 1px solid;   
    font-size:11px;
 
}
#FundSnapShotTopTen td
{border-bottom:1px dotted #dbddff;
    padding:5px;
    }
#FundSnapShotHeader
{padding-top:10px;
    
    height:66px;
}
.FundSnapShotHR1{
    text-align:left;
    font-size:16px;
    font-weight:bold;
}
.FundSnapShotHR2
{
    text-align:left;
    font-size:12px;
    font-weight:bold;
}
#FundSnapShotMain
{float:none;
    background-color:#dedee8;
    
    
    padding-left:10px;
    padding-right:10px;
	padding-bottom:15px;
	margin:0px;

    }


.FundSnapShotTab
{
    float:left;
	height:37px;
	line-height:normal;
	width:100%;
	background-color:#dedee8;
}

.FundSnapShotTab ul
{	
	list-style:none;
	margin:0;
	padding-left:8px;
	padding-top:10px;
}

.FundSnapShotTab li
{	
	float:left;
	background:url("images/FundSnapShotTabLeft.gif") no-repeat left top;
	margin:0;
	padding-left:5px;
}

.FundSnapShotTab li a
{
    float:none;
	display:block;
	background:url("images/FundSnapShotTabRight.gif") no-repeat right top;
	padding: 9px 20px 5px 20px;
	text-decoration:none;
	font-weight:bold;
	color:#07519a;
	font-size:11px;
	font-weight:bold;	
    border:none;
    margin:0px;
}

.FundSnapShotHR9
{
    font-size:10px;
    border-bottom:1px dotted #aaccee;
    color:#07519a;
    font-weight:normal;
    }
    .FundSnapShotHR10
{
    font-size:10px;
    border-bottom:1px dotted #aaccee;
    color:#07519a;
    font-weight:bold;
    }

.FundSnapShotHR3
{Font-size:14px;
	text-align:left;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	border-bottom:1px dotted #aaccee;
	color:#07519a;
	  
}
.FundSnapShotHR4
{font-size:11px;
	text-align:left;
	font-weight:bold;
	padding-top:18px;
	padding-left:10px;
	padding-bottom:10px;
    }
.FundSnapShotHR5
{font-size:11px;
     background-color:#eceef9;
	text-align:right;
	font-weight:bold;
	padding:5px;
	width:100px;
	border-bottom:1px solid #cacce7;
    }



  
/*********************End FundSnapshot*********************/

/******************Start FundSnapshot Search******************/


.FundSnapShotSearchTable
{
	border-left: solid 1px dbddff; 
	border-top: solid 1px dbddff;
    border-bottom: solid 3px dbddff; 
    border-right: solid 3px dbddff;
}
.FundSnapShotSearchTable td
{
    font-size:11px;
  }
.SearchHeader
{ border:1px solid #cccccc;
	background-color: #ffffff; 
	padding-left: 15px; 
	font-size: 11px; 
	color: #000000;
    height: 50px;
}
.SearchNaviBar
{ 
	background-color: #dddee8; 
	font-size: X-small; 
	color: White; 
	height: 20px;           
    text-align: right; 
    padding-bottom: 5px; 
    padding-right: 10px;
}



.FundSnapShotlblSimpleReturn
{
	margin-right:55px;
	font-Size:smaller;
	font-weight:bold;
	width:174px;
	height:20px;
}

.FundSnapShotlblCompoundReturn
{
	margin-right:5px;
	font-size:smaller;
	font-weight:bold;
	height:20px
}
.FundSearchFundName
{	 background-color:#FFFFFF; 
	font-weight:normal;
	font-size:11px;
	BORDER-right: #cacce7 1px solid;
	BORDER-bottom: #cacce7 1px solid;
	text-align:left;
	color:#1c85a7;
	vertical-align:top;
}



#FundGrade
{
    background:url("images/BGLeftSideFundGrade.gif") repeat bottom right;
    }
.FundGrade
    {color:Red;
        text-align:center;
        }
.FundSearchFundGrade
{	background-color:#ffffff;
	font-size:11px;
	BORDER-right: #cacce7 1px solid;
	BORDER-bottom: #cacce7 1px solid;
	padding-right:2px;
	font-weight:bold;
	text-align:center;
	vertical-align:top;
	color:#FF0000;
}
.FundGradeSorting
{	background-color:#ffffff;
	/*BACKGROUND: url(../images/SearchResultTR.jpg) repeat top;*/
	font-size:11px;
	BORDER-right: #cacce7 1px solid;
	BORDER-bottom: #cacce7 1px solid;
	padding-right:2px;
	font-weight:bold;
	text-align:center;
	color:#FF0000;
}

.FundSearchSearchResultsListCenter
{
	background-color:#FFFFFF;
	font-size:11px;
	text-align:center;
	vertical-align:top;
	BORDER-right: #cacce7 1px solid;
	BORDER-bottom: #cacce7 1px solid;
	padding-right:2px;
	padding-top:3px;
	padding-bottom:3px;
}
.FundSearchSearchResultsTextList
{
	background-color:#FFFFFF;
	font-size:11px;
	text-align:left;
	BORDER-right: #cacce7 1px solid;
	BORDER-bottom: #cacce7 1px solid;
	padding-right:2px;
	padding-top:3px;
	padding-bottom:3px;
	white-space:normal;
	vertical-align:top;
}
.FundSearchSearchResultsList td
{ 
	BORDER-bottom: #cacce7 1px solid;
	padding:4px;
}

.center
{
	text-align:center;
}
.SearchResultsListPortfolio
{
    background-color:#eff6fb;
 padding:10px;

    }
.FundSearchSearchResultsListTR td
{
	BACKGROUND: url("/images/SearchResultTR.jpg") repeat top;
	background-color:#feedb8;
	BORDER-bottom: #cacce7 1px solid;
	padding:4px;
}
.AltSearchResultsList td{
	background-color:#eceef9;
	font-size:11px;
	BORDER-right: #cacce7 1px solid;
	BORDER-bottom: #cacce7 1px solid;
	padding-right:2px;
	padding-top:3px;
	padding-bottom:3px;
}

td.HRGridSpacer
{
    background-image:none;
    background-color:#dddee8;
    border:none 0px #CACCE7;
}


tr.pager td
{
	border: none;
	padding: 3px;
	background: #dddee8;
}

/******************End FundSnapshot Search******************/

h2 
{
    font-size:12px;
    padding-top:20px;
    padding-bottom:4px;}
    h1
    {
        color:#000000;
        font-size:16px;}




#SnapShotTab 
{
    float:left;
	font-size:9pt;
	height:25px;
	background: url("images/SnapShotTabBG.gif") repeat-x bottom;
	line-height:normal;

}

#SnapShotTab ul {	
	margin:0;
	padding:0px 5px 10px;
	list-style:none;
	
}
#SnapShotTab li 
{
    float:left;
	background:url("images/SnapShotTabLeft.gif") no-repeat left top;
	margin:0;
	padding:0px 4px 0px 13px;
}

#SnapShotTab a 
{
    float:none;
	display:block;
	width:.1em;
	background:url("images/SnapShotTabRight.gif") no-repeat right top;
	padding: 5px 29px 6px 18px;
	text-decoration:none;
	font-weight:bold;
	color:#000000;
}

#SnapShotTab > ul a {width:auto;}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#SnapShotTab a {float:none;}
/* End IE5-Mac hack */

#SnapShotTab li:hover,
#SnapShotTab li.selected
{
	background-position:0% -28px;
	color:#1d5bb7;
}

#SnapShotTab li:hover a,
#SnapShotTab li.selected a
{
	background-position:100% -28px;
	color:#1d5bb7;
}

.RightAlign 
{
	text-align:right;
}
.TextBoxBorderBlue 
{
	text-align:right;
	border:1px solid #c5daed;
	border-top:1px solid #5794bf;
	
}
/******** Default styles for Fundata Widgets *******/

table.FundataWidget
{
	width: 100%;
}

table.FundataWidget caption
{
	text-align:right;
	font-size: 11px;
}

table.FundataWidget tr.even
{
	background-color: White;
}

table.FundataWidget tr.odd
{
	background-color: #EEEEEE;
}

table.FundataWidget th, table.FundataWidget th a
{
	text-align: center;
	font-size: 11px;
	font-weight:bold;
	padding: 3px;
	background-color: #B7D7E7;
}

table.FundataWidget th.right
{
    text-align: right;
}

table.FundataWidget th.left
{
    text-align: left;
}
	
table.FundataWidget td, table.FundataWidget td span
{
	font-size: 11px;
	padding: 2px;
}

table.FundataWidget td.right
{
	text-align: right;
}

table.FundataWidget td.positive
{
	color: Green;
}
.CashRow td
{
    background-color:#f2f2f2;
    }


 .FundSearch
{   
	Font-size:11px;
    font-weight:bold;
    background:url("images/FundSearchBGHr1.jpg") repeat right top;
    text-align:right;
 }

/****Image Preview******/
#preview{
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
}
    .modalBackground2 {
	background-color:#1998D5;
	filter:alpha(opacity=30);
	opacity:0.7;
}

.modalPopup {
	background-color:#ffffff;
	border-width:2px;
	border-style:solid;
	border-color:Gray;
	padding:20px;
	width:550px;
}

/*******Index page***/
div.DataValue, div.DataValueSmall
{
	border-top: 1px solid #90bfdd;
	width:190px;	
}


div.DataValue h1{
	color: #0173bc;
	font-size: 12px;
	font-weight:bold;

}
div.DataValue h2{
	color: #555555;
	font-size: 10px;
	font-style:italic;
	padding:0;
}

div.DataValue p{
	color: black;
	font-size: 15px;
	font-weight:bold;
	text-align:right;
	padding: 8px 0;
}


div.DataValueSmall h1{
	color: #0173bc;
	font-size: 10px;
	font-weight:bold;

}
div.DataValueSmall h2{
	color: #555555;
	font-size: 8px;
	font-style:italic;
	padding:0;
}

div.DataValueSmall p{
	color: black;
	font-size: 10px;
	font-weight:bold;
	text-align:right;
	padding: 4px 0;
}




div.IndexTab {
	float:left;
	width:95px;
	background-color:#eeeeee;
	background:url("images/IndexTabBG.png") no-repeat top center;
	border-bottom: 1px solid Black;
}

div.IndexTab a, div.IndexTab a:visited, div.SelectedIndexTab a, div.SelectedIndexTab a:visited, {
	text-decoration:none;
	color:Black;
}
div.IndexTab:hover {
	cursor:pointer;
}

div.SelectedIndexTab {
	float:left;
	width:95px;
	background-color:#eeeeee;
	background:url("images/SelectedIndexTabBG.png") no-repeat top center;
}

div.IndexTab h2, div.SelectedIndexTab h2{
	font-size:12px;
	font-weight:bold;
	padding:5px;
}

div.IndexTab div.QuoteValue, div.SelectedIndexTab div.QuoteValue{
	font-size:15px;
	font-weight:bold;
	padding:2px 2px 0px 2px;
	text-align:right;
}

div.IndexTab div.ChangeValuePos, div.SelectedIndexTab div.ChangeValuePos{
	font-size:9px;
	padding:0px 2px 0px 2px;
	text-align:right;
	color:Green;
}

div.IndexTab div.ChangeValueNeg, div.SelectedIndexTab div.ChangeValueNeg{
	font-size:9px;
	padding:0px 2px 0px 2px;
	text-align:right;
	color:Red;
}

.NegValue
{
	color: Red;	
}
.PosValue
{
	color: Green;
}
.NeutralValue
{
    color:Black;
}


#Disclaimer h1, #Disclaimer p, #Disclaimer table
{
	margin:15px;
}

table.delaytimes th
{
	background-color:#ced6dd;
}
.TransactionGroupHeader 
{
	  
	font-weight:bold;
height:40px;

vertical-align:bottom;

}

.TabDropDown
{
    font-size:14px;
    font-weight:bold;
}



.MoverTilePositive, .MoverTileNegative, .MoverTileNeutral
{
    border: 1px solid #000000;
    border-collapse:collapse;
    float: left;
    width:60px;
    height:50px; 
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

.MoverTilePositive
{
    background-color:Green;
    color:White;
}

.MoverTileNegative
{
    background-color:Red;
    color:White; 
}

.MoverTileNeutral
{
    background-color:Gray;
    color:White; 
}


/****Main Navigation Menu ****/
#MainNav, .NavMenu
{
    margin:0;
    padding:0;
    list-style:none;
    font-size:11px;
}

#MainNav li
{
    float:left;
    display:block;
    width:90px;
    position:relative;
    z-index:500;
    margin:0 1px;
}

.NavMenu li
{
    float:left;
    display:block;
    width:100px;
    position:relative;
    z-index:400;
    margin:0 1px;
}

#MainNav li.wide, .NavMenu li.wide
{
    width: 160px;
}
#MainNav li.extrawide, .NavMenu li.extrawide
{
    width: 200px;
}

#MainNav li a, .NavMenu li a
{
    display:block;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

#MainNav ul, .NavMenu ul
{
    width:inherit;
    position:absolute;
    left:0;
    display:none;
    margin:0 0 0 -1px;
    padding:0;
    list-style:none;
}

#MainNav ul li, .NavMenu ul li
{
    width:inherit;
    float:left;
}

#MainNav ul a, .NavMenu ul a
{
    display:block;
    padding:5px;
}

/****End Main Navigation Menu****/


/****Start StandardDataGrid****/

table.StandardDataGrid
{
   font-size:11px;
   border:none;
   width:100%;
}

table.StandardDataGrid th, table.StandardDataGrid th a
{
    font-family:HelveticaNeueLTCom-Roman;
    
}

table.StandardDataGrid th, table.StandardDataGrid td.Header
{
    font-weight:bold;
    background:url("images/FundSearchBGHr1.jpg") repeat right top;
    border:1px solid #cacce7; 
    border-collapse:collapse;
    height:25px;
    text-align:left;
}

table.StandardDataGrid th.right 
{
    text-align:right;
}
table.StandardDataGrid th.center 
{
    text-align:center;
}

table.StandardDataGrid th a
{
    color:#000000;
	text-decoration:none;
}

table.StandardDataGrid td
{
    background-color: #ffffff;
	vertical-align:top;
    border:1px solid #cacce7; 
    border-collapse:collapse;
	padding:2px;
}

table.StandardDataGrid tr.alt td{
	background-color:#eceef9;
}

table.StandardDataGrid tr td.middle{
	vertical-align:middle;
}


table.StandardDataGrid tr td.noLeftRightBorder{
	border-left:0;
	border-right:0;
}

/****End StandardDataGrid****/

table.CorrelationComparison
{
   font-size:12px;
   border:none;
   border-collapse:collapse;
   width:100%;
}

table.CorrelationComparison td
{
    font-family:HelveticaNeueLTCom-Roman;
    padding: 10px;
    text-align:center;
    width:30px;
    
}

table.CorrelationComparison td.legend
{
    font-weight: bold;
}

table.CorrelationComparison td.name
{
    text-align: left;
    width: 150px;
}

table.CorrelationComparison td.hn
{
    background-color: #ff8888;
    border: 1px solid #000000;
}
table.CorrelationComparison td.mn
{
    background-color: #ffbbbb;
    border: 1px solid #000000;
}
table.CorrelationComparison td.low
{
    background-color: #DDDDDD;
    border: 1px solid #000000;
}
table.CorrelationComparison td.mp
{
    background-color: #bbffbb;
    border: 1px solid #000000;
}
table.CorrelationComparison td.hp
{
    background-color: #77ff77;
    border: 1px solid #000000;
}






/****Table for layout******/
table.layout
{
   font-size:11px;
   border:none;
   width:100%;
}

table.layout tr
{
    border:none;
}
table.layout td
{
    border:none;
}
/****End Table for layout******/

table.IndexMoving 
{
   font-size:9px;
   border:none;
   width:100%;
   text-align:right;
}


/*******************************************SelectBoxIt*************************************************/

/*
 * jquery.selectBoxIt.css 3.3.0
 * Author: @gregfranko
 */

/*
  Common CSS Properties
  ---------------------
  These properties will be applied to any themes that you use
*/

/* SelectBoxIt container */
.selectboxit-container {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

/* Styles that apply to all SelectBoxIt elements */
.selectboxit-container * {
 /* font: 14px Helvetica, Arial;*/
  /* Prevents text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  outline: none;
  white-space: nowrap;
}

/* Button */
.selectboxit-container .selectboxit {
  width: 220px; /* Width of the dropdown button */
  cursor: pointer;
  margin: 0;
  padding: 0;
  border-radius: 6px;
  overflow: hidden;
  display: block;
  position: relative;
}

/* Height and Vertical Alignment of Text */
.selectboxit-container span, .selectboxit-container .selectboxit-options a {
  height: 30px; /* Height of the drop down */
  line-height: 30px; /* Vertically positions the drop down text */
  display: block;
}

/* Focus pseudo selector */
.selectboxit-container .selectboxit:focus {
  outline: 0;
}

/* Disabled Mouse Interaction */
.selectboxit-disabled {
  cursor: default;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Button Text */
.selectboxit-text {
  text-indent: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}

.selectboxit .selectboxit-option-icon-container {
  margin-left: 5px;
}

/* Options List */
.selectboxit-container .selectboxit-options {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 100%;  /* Minimum Width of the dropdown list box options */
  *width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  cursor: pointer;
  display: none;
  z-index: 9999999999999;
  border-radius: 6px;
  text-align: left;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Individual options */
 .selectboxit-option .selectboxit-option-anchor{
  padding: 0 2px;
}

/* Individual Option Hover Action */
.selectboxit-option .selectboxit-option-anchor:hover {
  text-decoration: none;
}

/* Individual Option Optgroup Header */
.selectboxit-option, .selectboxit-optgroup-header {
  text-indent: 5px; /* Horizontal Positioning of the select box option text */
  margin: 0;
}

/* The first Drop Down option */
.selectboxit-option-first {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

/* The first Drop Down option optgroup */
.selectboxit-optgroup-header + .selectboxit-option-first {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

/* The last Drop Down option */
.selectboxit-option-last {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

/* Drop Down optgroup headers */
.selectboxit-optgroup-header {
  font-weight: bold;
}

/* Drop Down optgroup header hover psuedo class */
.selectboxit-optgroup-header:hover {
  cursor: default;
}

/* Drop Down down arrow container */
.selectboxit-arrow-container {
  /* Positions the down arrow */
  width: 30px;
  position: absolute;
  right: 0;
}

/* Drop Down down arrow */
.selectboxit .selectboxit-arrow-container .selectboxit-arrow {
  /* Horizontally centers the down arrow */
  margin: 0 auto;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
}

/* Drop Down down arrow for jQueryUI and jQuery Mobile */
.selectboxit .selectboxit-arrow-container .selectboxit-arrow.ui-icon {
  top: 30%;
}

/* Drop Down individual option icon positioning */
.selectboxit-option-icon-container {
  float: left;
}

.selectboxit-container .selectboxit-option-icon {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

/* Drop Down individual option icon positioning */
.selectboxit-option-icon-url {
  width: 18px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  float: left;
}

/* jQueryUI and jQuery Mobile compatability fix - Feel free to remove this style if you are not using jQuery Mobile */
.jqueryui .ui-icon {
  background-color: inherit;
}

/* Another jQueryUI and jQuery Mobile compatability fix - Feel free to remove this style if you are not using jQuery Mobile */
.jqueryui .ui-icon-triangle-1-s {
  background-position: -64px -16px;
}

/*
  Default Theme
  -------------
  Note: Feel free to remove all of the CSS underneath this line if you are not using the default theme
*/
.selectboxit-btn {
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
}

.selectboxit-btn:hover,
.selectboxit-btn:focus,
.selectboxit-btn:active {
  color: #333333;
  background-color: #e6e6e6;
}

.selectboxit-btn:hover,
.selectboxit-btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
}

.selectboxit-default-arrow {
  width: 0;
  height: 0;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.selectboxit-list {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.selectboxit-list > li > a {
  color: #333333;
}

.selectboxit-list > .selectboxit-focus > a,
.selectboxit-list > .selectboxit-focus > a:hover,
.selectboxit-list > .selectboxit-focus > a:focus {
  color: #ffffff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
}

.selectboxit-list > .selectboxit-disabled > a {
  color: #999999;
}

.selectboxit-list > .selectboxit-disabled > a:hover,
.selectboxit-list > .selectboxit-disabled > a:focus {
  background-color: transparent;
  background-image: none;
}



/*added to tweak long lists*/
#divAddToList .selectboxit-container .selectboxit-options {

    /* Set's the drop down options width to the same width as the drop down button */
    /*width: 210px;*/

    /* Set's the max-height property to only show a subset of the drop down items.
       If you do not set a max-height property, SelectBoxIt will dynamically
       position the dropdown (when opened) to make sure the drop down items are not
       displayed outside of the current window viewport.
    */
    max-height: 120px;

  }


/*******************************************SelectBoxIt*************************************************/

.ui-icon-pdf { background-image: url(images/reader-16x16.png) !important; }