html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, TopHeader, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family:'Arial', 'Helvetica';
    color:#273953;
   
}
img {vertical-align:bottom;
}

h2
{ font-size: 25px;
  padding-top:20px;
   padding-bottom:10px;
}
h3
{ font-size: 35px;
  padding-top:20px;
   padding-bottom:10px;
}
img{border:none;
 
    }
    
body {background-color:#FFF;
    
}





.MainBodyContent
    { width: 960px;
     margin: 0px auto 0px auto;
}

.left
{   vertical-align:top;
}
.right
    {width:300px;
     vertical-align:top;
     padding-left:20px;
    }
.ConLeft
{
    width: 45%;
    float: left;
    padding:20px;
}
.ConRight
{   width:45%;
    float:left;
    padding:20px;
}
.MainH1
{   font-size:20px;
    padding-top:15px;
    padding-bottom:10px;
    text-transform:uppercase;
}
.FeaturedTT
{   display: block; 



    

    font-size:18px;
}
.FeaturedTT a
{  text-decoration:none;
     font-family:'HelveticaNeueLTCom-Roman', 'Source Sans Pro', sans-serif;
      font-weight: 400;
     font-weight: bold;
     
   color:#273953;
}
.Icons
    {margin: 0; float: left; display: block; padding-right: 10px; margin-bottom:30px;
     width:80px;
     align-content:center;
     text-align:center;
     vertical-align:top;
}
div.LinksTitle
{padding-top:2px; 

}
div.LinksTitle a
{font-size:15px;
 color:#1b99d6;

}
div.LinkTable td
{vertical-align:top;
 padding-top:20px;
}
.Txt12
{   font-size:15px;
  
}
.SearchTxtBox
{padding: 4px; 
 border: 1px #ccc solid; 
 width: 300px; 
 font-size: 19px;

    border: 1px solid #c4d1d8;
    background-color: #fff;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    behavior: url(css/PIE.htc);

    display:block;
   

}
.LinkIcon
{ margin-bottom: 20px; 
     padding-right:10px;
     
}
.Calculator
{  float: left; display:block; 
     padding-right:10px;
     align-content:center;
     text-align:center;
     vertical-align:top;
}
.FloatContent
    {width:45%;
     float:left;
     margin:5px;

}
.FloatContent2
    {width:286px;



}

table.IndexTable td{
   
    background-color:#f6fafb;
    font-weight:bold;
    text-align:center;
    border-spacing:0px;
    border-collapse:collapse;
    padding:10px;
    width:19%;
 
}
table.IndexTable
{ 
    width:100%;
}


table.ContactTable
{ border-collapse:collapse;
}
table.ContactTable td
{ vertical-align:top;
     line-height:24px; 
     font-size:13px; 
}
table.ContactTable td a
{color:#1b99d6;
}
.ContactTitle
{font-weight:bold;
 text-align:right;
 padding-right:10px;
}
div.BulletList li
    {padding-left:5px;
     padding-bottom:4px;
     margin-left:40px;
     margin-right:20px;
     list-style-image:url(../images/Bullet.png);
     font-size:14px;
     line-height:21px;
    
}
div.BulletListSuited li
{padding:5px 5px;
     margin-left:20px;
     list-style-image:url(../images/Check.png);
     font-size:14px;
}
div.List li
    {padding-left:5px;
     padding-bottom:4px;
     margin-left:20px;
     margin-right:20px;
     list-style:decimal;
     font-size:14px;
     line-height:21px;
    
}


div.LearnMore
{   display: block;
}
div.LearnMore a
{   color:#1b99d6;
}
.note
{padding-top:20px;
 font-size:13px;
}


table.HomePageList
{ border-collapse:collapse;
  width:100%;
}
table.HomePageList ul
{ margin-left:20px;
}
table.HomePageList li
{ padding-bottom:10px;
  padding-right:10px;
  list-style:none;
   list-style-image:url(../images/BulletBlue.png);
}
table.HomePageList a
{ text-decoration:none;

  font-size:14px;
}
table.HomePageList a:hover
{ text-decoration:underline;
}

table.calculators td
{font-size:13px;
 padding-top:10px;
 border-collapse:collapse;
}
.calculators input
{padding:4px;
 width:80px
}
.calculators2 input
{padding:4px;
 width:80px;
 border:0px solid #ccc;
}
table.calculators2 td
{font-size:13px;
 padding:5px;
 border-collapse:collapse;
 border:1px solid #ccc;

}
table.calculators2
{
 border-collapse:collapse;
}
.FLROW2
{font-weight:bold;
}
.NotIncludingGRANT
{
    background-color:#e8e9e7;
}

.CurverContainer
{    
    background:url(../images/BGCurveContainerDark.png) repeat 0 0;
 border: 1px solid #ccc;
    background-color: #fff;
    margin-bottom: 10px;
    font-size: 13px;
    display:block;
    width: 100%;
}


/* CopyCurve Start */
.CurverContainer333
{    
    background:url(../images/BGCurveContainer.png) repeat 0 0;
    background:url(../images/BGCurveContainerDark.png) repeat 0 0;
    
    
   box-shadow: 0 1px 1px 0 #ccc;
    border: 1px solid #ccc;
    background-color: #fff;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    behavior: url(css/PIE.htc);
    margin-bottom: 10px;
    font-size: 13px;
    display:block;
    width: 100%;
}
/* CopyCurve Stop */
.RightSideContainer
    {border-bottom: 1px dotted #ccc;
       box-shadow: 0 1px 1px 0 #ccc;
    border: 1px solid #ccc;
    background-color: #fff;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    behavior: url(css/PIE.htc);
     display:block;
     width:100%;
     padding-top:10px;
     padding-bottom:10px;
     margin-top:10px;
 
     background:url(../images/BGCurveContainer.png) repeat 0 0;
}
.Container
{width:100%;
  display:inline-block;
}
.ContainerCurver
    {

     padding:10px;
     margin-top:10px;

     clear:both;
     float:left;
   


}
.RightSideContainerImg
    {margin: 0; float: left; display:inline-block; padding-right: 10px;
     width:80px;
     align-content:center;
     text-align:center;
     margin-bottom:20px;
}
a.LearnMoreLink
{   color:#1b99d6;
}
.MainNavHolder
{
    background: url(../images/BlueBGNav.png) top left repeat-x;
    width: 100%; 
  }
.MainNavContent
{   
    width: 960px;
    margin: auto;
}
.Header
{   
    background:url(../images/BGTopHeader.png) repeat-y;
    margin: 0;
	padding: 0;
    background-color:#0072bc;	

}
.TopHeader
{   

    margin: 0;
	padding: 0;	 
}



.TopHeaderNav a
    {color:#404040;
     font-size:13px;
     text-decoration:none;
     padding-left:10px;
}
.TopHeaderNav a:hover
{
     text-decoration:underline;
}
.TopHeaderNav table
    {border-collapse:collapse;
     border-spacing:0px;
    }
/* NavTop Start */

ul.NavTop

{   margin: 0;
	padding: 0;	
	float:left;
    }    
ul.NavTop li
{   float: left;
	padding: 0;
	width: auto;
	padding-bottom:5px;
	padding-top:5px;
	list-style:none;
   
    }    
ul.NavTop li a
{   color:#fff;
    text-decoration:none;
    font-size:13px;
    padding:10px;
    font-weight:bold;
    }      
ul.NavTop li a:hover
{
    text-decoration:none;
    background-color:#fff;

    }    
ul.NavTop li.Selected a
{    text-decoration:none;
    background-color:#fff;

    }

   /* NavTop Stop */
  /* SubNavTop Start */
div.SubNavTop ul
{   float: left;
    margin: 0;
	padding: 0;

   
    }
div.SubNavTop li
{   float: left;
	padding: 0;
	margin: 5px 5px 2px 0;
	width: auto;
	height: 24px;
	list-style:none;
    padding-left:4px;
   
    }
   
div.SubNavTop li a
{   
    text-decoration:none;
    font-size:16px;
  
    padding-right:7px;
    }    
div.SubNavTop li a:hover
{
     text-decoration:underline;
        color:#273953;
   
    }    
div.SubNavTop li.Selected a
{
    text-decoration:none;
    font-size:16px;

    font-weight:bold;
    }   
   /* SubNavTop Stop */


.hide{ 
    display:none;
        
}
.show{

}

#SubMenu
    {clear:both;
     padding:0px;
     margin:0px;
}
    
.MainNavOutContainer
 {
     width: 100%;
     margin: 0;
     background-color:#000;
     }
 .MainNavContainer
{
    color:#fff;
}
.DataFeedTitle
{

text-transform:uppercase;
font-size:20px;
padding-bottom:15px;


 font-weight: 400;

   font-family:'HelveticaNeueLTCom-Roman', 'Source Sans Pro', sans-serif;

}
.bluelink
{color:#1b99d6;
}
.calulators
{padding-top:20px;
} 
 /* Main Nav End */  

/* // Footer  */
.FooterTxt
{ 
 font-weight: 400;
  font-family:'HelveticaNeueLTCom-Roman', 'Source Sans Pro', sans-serif;
   font-size:20px;  
}
.TopFooter
{
    background-color:#e4ecf7;
    border-top:1px #ccc solid ;
    border-bottom:1px #ccc solid ;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:90px;
    display:inline-block;
    width:100%;
}

.FooterNav li {
    padding-top:14px;
    font-size:13px;
     list-style:none;
}
.FooterNav a
{
     
     text-decoration:none;
}
.FooterNav a:hover
{
    text-decoration:underline;
}
table.FooterNav td
{
  
}
.BottomFooter{
    background-color:#f1f5fb;
    padding:20px;
    padding-bottom:100px;
    display:block;
}

div.NavCompanyLinks ul
{margin:0px;

}
div.NavCompanyLinks li
{margin:0px;
 float:left;
 font-size:12px;
 padding:7px;
 list-style:none;

}
div.NavCompanyLinks a
{text-decoration:underline;


}
div.CompanyLinks
{width:100%;


}
div.CompanyLinks ul
{margin:0px;


}
div.CompanyLinks li
{margin:0px;
 float:left;
 font-size:12px;
 padding:7px;
 list-style:none;

}
div.CompanyLinks a
{text-decoration:underline;



}
div.CompanyLinks
{
  background-color:#f1f5fb;
 border:1px solid #ccc;
 display:inline-block;
}
table.CompanyLinks td
{padding-top:20px;
 padding-left:10px;
}
.CompanyLinks a
{text-decoration:underline;
 padding:0px;
 margin:0px;
}
.CompanyLinks a:hover
{text-decoration:underline;
}
.FundCompanyLogo
{
}
/* // Footer End */

.ContentPad
{font-size:16px; 
 padding:10px;
}
.BoldHighlight
{color:#000;
 font-weight:bold;
 font-size:16px;
}
table.ContentTable
    {
    margin:0px;
width:840px;

}
.MainContainer{
 padding-bottom:40px;
 padding-top:0px;
 padding-left:40px;
}
table.ContentTable td
    {
    
     font-size:16px;
     vertical-align:top;
     line-height:24px;  
      border-collapse:collapse;
   border-spacing:0px;
}
.LeftContent
{width: 455px;
 padding-right:40px;
}
.RightContent
{width: 455px;

}
.MainTitle
{   border-bottom:1px dashed #666666;
    padding-right:40px;
     font-size:29px;
    margin-bottom:15px;
    margin-top:10px;
    line-height:40px;

 font-weight: 400;
  font-family:'HelveticaNeueLTCom-Roman', 'Source Sans Pro', sans-serif;
width:auto;
}
.Title
{   border-bottom:2px solid #e1e8ea;
     font-size:27px;
    font-size:24px;
    margin-bottom:15px;
    margin-top:15px;
    line-height:40px;
     padding-right:40px;
          color:#0071bb;
     color:#1b99d6;

 font-weight: 400;
     text-transform:uppercase;
      font-family:'HelveticaNeueLTCom-Roman', 'Source Sans Pro', sans-serif;
}

.Title a
{  text-decoration:none;

}
.TitleFR
{  
     font-size:27px;
    font-size:24px;
    margin-bottom:15px;
    margin-top:15px;
    line-height:25px;
     padding-right:40px;
          color:#0071bb;
     color:#1b99d6;

 font-weight: 400;
     text-transform:uppercase;
      font-family:'HelveticaNeueLTCom-Roman', 'Source Sans Pro', sans-serif;
}
.TitleFR a
{  text-decoration:none;

}
.FloatContent2FR
    {width:286px;

  padding-bottom:30px;

}
.Overview
{ 

    font-size:27px;
    margin-bottom:15px;
    margin-top:15px;
    line-height:40px;
     padding-right:40px;
          color:#0071bb;
     color:#1b99d6;
border-bottom:2px solid #e1e8ea;
     width:800px;

 font-weight: 400;
  font-family:'HelveticaNeueLTCom-Roman', 'Source Sans Pro', sans-serif;
}
.Title2
{   border-bottom:2px solid #e1e8ea;
    font-size:22px;
    margin-bottom:15px;
    margin-top:15px;
    line-height:40px;
     padding-right:40px;
          color:#0071bb;
     color:#1b99d6;

 font-weight: 400;
 font-family:'HelveticaNeueLTCom-Roman', 'Source Sans Pro', sans-serif;
}
.Title3
{   
    font-size:22px;

    margin-top:15px;
    line-height:40px;
     padding-right:40px;
          color:#0071bb;
     color:#1b99d6;

 font-weight: 400;
 font-family:'HelveticaNeueLTCom-Roman', 'Source Sans Pro', sans-serif;
}
.TitleSuitedFor
{ border-bottom:2px solid #e1e8ea;
     font-size:27px;
    font-size:24px;
    margin-bottom:15px;

    line-height:40px;
     padding-right:40px;
          color:#0071bb;
     color:#1b99d6;

 font-weight: 400;
     text-transform:uppercase;
 font-family:'HelveticaNeueLTCom-Roman', 'Source Sans Pro', sans-serif;

}
a
{ color:#1b99d6;
}
table.dStyle
    {margin-top:20px;
   border-collapse:collapse;
   border-spacing:0px;
   width:100%;

   padding:20px;
}
table.dStyle td
    {


}
.NasdaqNews a
{color:#0066cc;
 font-size:12px;
}
.NasdaqNews td
{padding-top:4px;
 padding-bottom:4px;
}


.BG-Container-ProductsAndServices {
     background:url(../images/BG-Container-ProductsAndService.jpg) repeat 0 0;

}

.BG-Container-Listing-Services {
     background:url(../images/BG-Container-Listing-Services.png) repeat 0 0;
 width: 960px;
     margin: 0px auto 0px auto;
    text-align:center;
    align-items:center;
}

.BG-Container-Data-Feeds {
     background:url(../images/BG-Container-Data-Feeds.png) repeat 0 0;
   width: 960px;
     margin: 0px auto 0px auto;
    text-align:center;
    align-items:center;
}
.BG-Container-Data-Feeds-FR {
     background:url(../images/BG-Container-Data-Feeds-FR.png) repeat 0 0;
   width: 960px;
     margin: 0px auto 0px auto;
    text-align:center;
    align-items:center;
}


.BG-Container-Fund-Grade {
      background:url(../images/BG-Container-Fund-Grade.png) repeat 0 0;
  width: 960px;
     margin: 0px auto 0px auto;
    text-align:center;
    align-items:center;
}
.BG-Container-Fund-Grade-FR {
      background:url(../images/BG-Container-Fund-Grade-FR.png) repeat 0 0;
  width: 960px;
     margin: 0px auto 0px auto;
    text-align:center;
    align-items:center;
}
.BG-Container-Fund-Profiler {
      background:url(../images/BG-Container-Fund-Profiler.png) repeat 0 0;
  width: 960px;
     margin: 0px auto 0px auto;
    text-align:center;
    align-items:center;
}

.BG-Container-Risk-Data {
     background:url(../images/BG-Container-Risk-Data.png) repeat 0 0;
   width: 960px;
     margin: 0px auto 0px auto;
    text-align:center;
    align-items:center;
}
.BG-Container-Risk-Data-FR {
     background:url(../images/BG-Container-Risk-Data-FR.png) repeat 0 0;
   width: 960px;
     margin: 0px auto 0px auto;
    text-align:center;
    align-items:center;
}

.BG-Container-Indices {
     background:url(../images/BG-Container-indices.png) repeat 0 0;
    width: 960px;
     margin: 0px auto 0px auto;
    text-align:center;
    align-items:center;
}

.BG-Container-MarketingSheets {
     background:url(../images/BG-Container-MarketingSheets.png) repeat 0 0;
   width: 960px;
     margin: 0px auto 0px auto;
    text-align:center;
    align-items:center;
}
.BG-Container-MarketingSheets-FR {
     background:url(../images/BG-Container-MarketingSheets-FR.png) repeat 0 0;
   width: 960px;
     margin: 0px auto 0px auto;
    text-align:center;
    align-items:center;
}
.BG-Container-POS {
     background:url(../images/BG-Container-POS.png) repeat 0 0;
  width: 960px;
     margin: 0px auto 0px auto;
    text-align:center;
    align-items:center;
}
.BG-Container-POS-FR {
     background:url(../images/BG-Container-POS-FR.png) repeat 0 0;
  width: 960px;
     margin: 0px auto 0px auto;
    text-align:center;
    align-items:center;
}

.BG-Container-Web-Solutions {
     background:url(../images/BG-Container-Web-Solutions.png) repeat 0 0;
 width: 960px;
     margin: 0px auto 0px auto;
    text-align:center;
    align-items:center;
}
.BG-Container-Web-Solutions-FR {
     background:url(../images/BG-Container-Web-Solutions-FR.png) repeat 0 0;
 width: 960px;
     margin: 0px auto 0px auto;
    text-align:center;
    align-items:center;
}



.BG-Container-Analytics {
     background:url(../images/BG-Container-Analytics.png) repeat 0 0;
   width: 960px;
     margin: 0px auto 0px auto;
    text-align:center;
    align-items:center;
}

.BG-Container-Analytics-FR {
     background:url(../images/BG-Container-Analytics-FR.png) repeat 0 0;
   width: 960px;
     margin: 0px auto 0px auto;
    text-align:center;
    align-items:center;
}


.BG-Container-White {
    
         background:url(../images/BG-Container-White.jpg) repeat 0 0;
  width: 960px;
     margin: 0px auto 0px auto;
    text-align:center;
    align-items:center;
}